body {
  overscroll-behavior: none;
}

.horizontal-margins {
  margin-left: 8%;
  margin-right: 8%;
}

.vertical-margins {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.sub-header-buffer {
  padding-bottom: 4.5rem;
}
